# Node.js dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Build output
dist/

# TypeScript
*.tsbuildinfo

# Environment variables
.env
.env.*

# MacOS files
.DS_Store

# Windows files
Thumbs.db

# IDE specific
.idea/

# Vite
.vite/